@import "https://fonts.googleapis.com/css?family=Abel|Fjalla+One|Muli|Open+Sans+Condensed:300|Reem+Kufi";

@keyframes fade-out-in {
  0% { opacity: 0; }
  1% { opacity: 0; }
  50% { opacity: 0; }
  90% { opacity: 0.5; }
  95% { opacity: 0.75; }
  100% { opacity: 1; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes transition-back {
  0% { opacity: 0; }
  1% { opacity: 0; }
  50% { opacity: 0; }
  90% { opacity: 0.3; }
  95% { opacity: 0.7; }
  100% { opacity: 1; }
}

/*
My display preference is no scrollbar;
If the content is long enough to warrant scrolling,
it should be intuitive enough by the look of the page.
*/
::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


/* Font stuff */
h1,h2,h2,h4,h5,h6,p,div {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2 {
  max-width: 900px;
}

h1 {
  font-style: capitalize;
  font-size: 3em;
  letter-spacing: 3px;
  font-kerning: none;
  width: auto;
  line-height: 1;
}

.active h1 {
  width: 80%;
}

h2 {
  margin: 0 auto;
  font-size: 2em;
}

h3 {
  font-size: 25px;
  letter-spacing: 1px;
}

h4 {
  font-size: 20px;
}

p, li, em {
  font-size: 18px;
  letter-spacing: 0.6px;
  font-family: sans-serif;
  background-color: #fff;
  margin: 0;
}

ul {
  list-style: circle;
  -webkit-padding-start: 0px;
  padding: 0 0 0 6px;
  margin: 0;
  line-height: 18px;
}

li {
  margin-left: 15px;
  line-height: 25px;
}

/* box model, layer by layer */
.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.box {
  user-select: none;
  position: absolute;
  width: 50%;
  height: 50%;
  transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.box.active {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: scroll;
  background: white;
  transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);

  }

.active:hover {
  overflow-y: auto;
}

.box.left {
  left: 0;
}
.box.right {
  right: 0;
}
.box.top {
  top: 0;
}
.box.bottom {
  bottom: 0;
}
.active .wrapper p,h2,i,br {
  display: block;
  position: auto;
}

/* Spacing / Active stuff */

.wrapper {
  visibility: hidden;
  user-select: none;
  max-height: 0;
  opacity: 0;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0;
  display: block;
  overflow: auto;
  height: 90vh;
  transition: opacity 100ms cubic-bezier(0.19, 1, 0.22, 1), visibility 0s cubic-bezier(0.19, 1, 0.22, 1);
}

.active .wrapper {
  display: block;
  visibility: visible;
  user-select: text;
  position: relative;
  opacity: 1;
  max-height: 10000px;
  transition: visibility 200ms 100ms cubic-bezier(0.19, 1, 0.22, 1);
  padding: 0 30px;
    /*
  * TODO: figure out how to add an ::after element
  * so you can size this to what you want
  */
  border-right: 1px solid rgba(114, 182, 234, 0.2);
  border-left: 1px solid rgba(114, 182, 234, 0.2);

}

/* Front-page divider */
.divider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 100px;
}
.divider .vertical {
  position: relative;
  width: 3px;
  height: 100%;
  background: gray;
  left: 50%;
  transform: translateX(-50%);
}
.divider .horizontal {
  position: relative;
  height: 3px;
  width: 100%;
  background: gray;
  bottom: 50%;
  transform: translateY(-50%);
}

/* Header */
.title {
  text-transform: uppercase;
  margin: 0 auto;
  animation: fade-out-in 100ms ease-in-out;
  padding: 7px;
}

.title.left {
  text-align: right;
  right: 0%;
  left: 0%;
  padding-right: 10px;
}
.title.right {
  text-align: left;
  left: 0%;
  right: 100%;
  padding-left: 10px;
}
.title.top {
  position: relative;
  transform: translateY(-100%);
  bottom: 0%;
  top: 100%;
}
.title.bottom {
  top: 0%;
  bottom: 100%;
}
.title.bottom.right {
  padding-left: 10px;
}

/* Active Header */
.active .title {
  padding: 0px;
  animation: transition-back 100ms;
}

.active .title.left {
  text-align: right !important;
}
.active .title.right {
  text-align: left !important;
}

.active .title.top {
  bottom: 100%;
  top: 0%;
  transform: translateY(0%);
}
.active .title.bottom {
  top: 100%;
  bottom: 0%;
  padding-left: 0px;
}

/* Icon Bar Styles */
.icons {
  position: relative;
  display: block;
  height: 25px;
  max-width: 900px;
  width: 100%;
  padding-bottom: 50px;
  top: 0;
  margin: 0 auto;
  line-height: 25px;
}

.icons.right {
  text-align: right;
}

.icons.left {
  text-align: left;
}

.icon {
  height: 40px;
  padding: 10px;
}

.go-icon {
  height: 30px;
  float: right;
  visibility: hidden;
}

.attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 32px;
  width: 100%;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1em;
  line-height: 2em;
  opacity: .9;
  z-index: 1;
  font-weight: bold;
}


/* Content Styles */

.text-box {
  background: white;
  z-index: 2;
  position: relative;
  margin: 0 auto;
  max-width: 900px;
}

.project-title {
  width: 100%;
}

.project-description {
  margin: 5px 0;
  padding-top: 5px;
  border-top: 1px solid #8BC3ED;
  font-size: 18px;
}

.project-link {
  text-decoration: none;
  color: #000;
  z-index: 10;
}

.project-link:hover{
  color: #fff;
}

.project-li {
  padding: 0;
  margin: 10px 0;
  line-height: 25px;
}

.separator {
  line-height: 0;
  border-bottom: 1px solid #eee;
  background-color: #eee;
  margin: 15px auto;
  width: 100%;
}

/* PROJECTS STYLES */

/* Project div dropdowns */
.project-dropdown {
  width: 100%;
  padding: 10px;
  font-size: 25px;
  line-height: 30px;
  margin: 0 auto;
  margin-left: -10px;
}

.project-container {
  display: none;
}

/* projects menu */
.project-dropdown:hover, .project-dropdown:hover * {
  background: #407899;
  border-radius: 5px;
  font-style: none;
}

.project-dropdown:hover .go-icon {
  visibility: visible;
}

.current {
  display: block;
  background-color: #fff;
}

.current .project-container {
  display: block;
}

.current .go-icon {
  visibility: visible;
}

.current:hover, .current:hover * {
  background-color: #72b6ea;
}

/* Projects images carousel */
p.carousel_controls {
  text-align:center;
  margin-top: 15px;
}

.carousel_controls span {
  cursor:pointer;
  text-align: center;
  padding: 10px 15px;
}

.carousel_controls span:hover {
  background: #ddd;
  background: rgba(65, 65, 65, 0.3);
  color: #DE6449;
  border-radius: 3px;
}

.carousel_controls .selected {
  color: #72b6ea;
}

.carousel {
  position:relative;
  height:350px;
  width: auto;
  margin:0 auto 10px;
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.carousel img {
  position: absolute;
  max-height: 100%;
  height: auto;
  max-width: 80%;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.9);

  -webkit-transition: opacity 100ms ease-in-out;
  -moz-transition: opacity 100ms ease-in-out;
  -o-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  opacity:0;
  filter: alpha(opacity=0);
  text-align: center;
}

div.shadow {
    position:absolute;
    max-width:65%;
    max-height:65%;
    overflow:visible;
    margin-left: -10%;
}

.carousel img.opaque {
  opacity:1;
  filter: alpha(opacity=1);
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.hire-blurb {
  width: 60%;
  margin: 0 auto;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.profile-image {
  height: 400px;
  border-radius: 25px;
}

.email-form {
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.email-form form {
  width: 65%;
}
.email-form input, .email-form textarea {
  width: 100%;
}

.recaptcha {
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.submit-button {
  background-color: #88CCF1;
  border: 0px;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  height: 50px;
  padding: 10px;
  border-radius: 3px;
}
.submit-button:active {
  background-color: #5BB9EC;
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0,0,0, 0.24)
}
#error {
  visibility: hidden;
}


/* MEDIA QUERIES */

/* Media queries for projects section */
@media only screen and (orientation: portrait) {
  .carousel img {
    max-width: 90%;
  }
}

/* Media queries by project */

/*
  JTT project box sizing begins here */
@media screen and (min-width: 990px) {
  p.carousel_controls {
    height: 35px;
  }
  .carousel_controls span {
    float: none;
  }
}

@media screen and (max-width: 990px) {
  p.carousel_controls {
    height: inherit;
  }
  .carousel_controls span {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }
  .email-form form {
    width: 100%;
  }
}

@media screen and (max-width: 766px){
  p.carousel_controls {
    height: 120px;
  }
}

@media screen and (max-width: 400px){
  .title {
    font-size: 250%;
  }

  .active .title.left {
    text-align: right !important;
  }
  .active .title.right {
    text-align: left !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .hire-blurb {
    margin-top: 15%;
    width: 75%;
  }
}

@media only screen and (max-width: 559px) {
  .hire-blurb {
    margin-top: 0;
    width: 90%;
  }
}
